<section class="contact">
    <div class="contact-text">
        <h1>in the meantime please contact us at:</h1>
        <p>
          secretary4426@lodgestmichael.co.uk
        </p>
    </div>
   
</section>

  <style>


.contact {
  height: 18vh;
  background: var(--color-primary);
  text-align: center;
}

.contact-text {
  color: #fff;
  text-align: center;
}

@media (max-width: 1920px) {

.contact-text {
margin-top: -5px;
  padding-top: 50px;
}

  }
  

@media (max-width: 500px) {
    h1,
    h2 {
      text-align: center;
    }
    .contact-text {
  padding-top: 20px;
}

  }

  </style>