<section class="showcase">
    
    

  </section>

  <style>
   


    

.showcase-blog {
  min-height: 300px;
}

.showcase-text {
  max-width: 500px;
  color: #fff;
  text-align: center;
  margin: 50px auto;
}

.showcase h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.showcase p {
  font-size: 24px;
  margin-bottom: 20px;
}

.showcase-img {
  text-align: center;
}

.showcase-img img {
  border-radius: 10px;
  margin: auto;
}



@media (max-width: 1920px) {
    .showcase {
        height: 75vh;
        background-image: url(../images/cs5.png);
        background-repeat: no-repeat;
        background-image:center;
        padding: 30px;
    }

    }

    @media (max-width: 500px) {
        .showcase {
        height: 75vh;
        background-image: url(../images/cs5.2.png);
    
        
        
    }
    

  }
  </style>