---
import hero from '../images/cs6.png'
---

<section class="showcase">
  <div class="showcase-image">
    <img class="hero" src={hero} alt="" />
  </div>

    

  </section>

  <style>
   
   .showcase {
  height: auto;
  background-color: black;
  padding: 30px;
  height: 75vh;
}

.showcase-image {
  text-align: center;
}

.hero {
  max-width: 100%;
  height: auto;
}
    

   .showcase-blog {
  min-height: 300px;
}

.showcase-text {
  max-width: 500px;
  color: #fff;
  text-align: center;
  margin: 50px auto;
}

.showcase h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.showcase p {
  font-size: 24px;
  margin-bottom: 20px;
}

.showcase-img {
  text-align: center;
}

.showcase-img img {
  border-radius: 10px;
  margin: auto;
}




  </style>