---
import hero from '../images/cs6.png'
---

<div class="showcase">
  <div class="center">
    <img src={hero} alt="Cinque Terre">
  </div>
</div>

  <style>
   
   .showcase {
  height: auto;
  background-color: black;
  padding: 30px;
  height: 75vh;
  position: relative;
}

.center {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: 75%;
}
    

   .showcase-blog {
  min-height: 300px;
}

.showcase-text {
  max-width: 500px;
  color: #fff;
  text-align: center;
  margin: 50px auto;
}

.showcase h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.showcase p {
  font-size: 24px;
  margin-bottom: 20px;
}

.showcase-img {
  text-align: center;
}

.showcase-img img {
  border-radius: 10px;
  margin: auto;
}




  </style>